.button {
  font-size: 16px;
  padding: 16px 67px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-transform: uppercase;

  @media screen and (max-width: 1200px) {
    font-size: 14px;
    padding: 14px 65px;
  }

  @media screen and (max-width: 1000px) {
    font-size: 12px;
    padding: 12px 60px;
  }

  @media screen and (max-width: 650px) {
    font-size: 12px;
    padding: 12px 40px;
  }

  &--default {
    background-color: inherit;
    border: 2px solid #000;
  }

  &--stretch {
    height: 52px;
    width: 100%;
    padding: 0;
  }

  &--disable {
    border: 1px solid #4e4e4e;
    color: #4e4e4e;
    pointer-events: none;
  }

  &:hover {
    background-color: #000;
    color: #fff;
  }
}
